<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Configuração de console para logs durante a execução -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- Configuração de arquivo para registrar todos os logs -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/test-logs/automation.log</file>
        <append>false</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Níveis de log específicos para pacotes -->
    <logger name="com.reqres.automation" level="INFO" />
    <logger name="io.restassured" level="INFO" />
    <logger name="org.springframework" level="INFO" />

    <!-- Nível de log raiz -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration> 